CIRM16.fna filter=lfs diff=lfs merge=lfs -text
CIRM23.fna filter=lfs diff=lfs merge=lfs -text
CIRM36.fna filter=lfs diff=lfs merge=lfs -text
S9.fna filter=lfs diff=lfs merge=lfs -text
CIRM1116.fna filter=lfs diff=lfs merge=lfs -text
CIRM19.fna filter=lfs diff=lfs merge=lfs -text
CIRM32.fna filter=lfs diff=lfs merge=lfs -text
CS8.fna filter=lfs diff=lfs merge=lfs -text
LMG18311.fna filter=lfs diff=lfs merge=lfs -text
NCTC12958.fna filter=lfs diff=lfs merge=lfs -text
CIRM18.fna filter=lfs diff=lfs merge=lfs -text
CIRM2101.fna filter=lfs diff=lfs merge=lfs -text
CIRM65.fna filter=lfs diff=lfs merge=lfs -text
CIRM961.fna filter=lfs diff=lfs merge=lfs -text
EPS.fna filter=lfs diff=lfs merge=lfs -text
CIRM67.fna filter=lfs diff=lfs merge=lfs -text
ATCC19258.fna filter=lfs diff=lfs merge=lfs -text
CIRM1048.fna filter=lfs diff=lfs merge=lfs -text
CIRM1049.fna filter=lfs diff=lfs merge=lfs -text
CIRM1122.fna filter=lfs diff=lfs merge=lfs -text
CIRM29.fna filter=lfs diff=lfs merge=lfs -text
CIRM336.fna filter=lfs diff=lfs merge=lfs -text
CIRM368.fna filter=lfs diff=lfs merge=lfs -text
CIRM967.fna filter=lfs diff=lfs merge=lfs -text
JIM8232.fna filter=lfs diff=lfs merge=lfs -text
